# This file is where you keep secret settings, passwords, and tokens!
# If you put them in the code you risk committing that info or sharing it
# which would be not great. So, instead, keep it all in this one file and
# keep it a secret.

secrets = {
    'broker': "broker.hivemq.com",  # _your_mqtt_broker_url_or_ip_
    'broker_user': "",  # _your_mqtt_broker_username_
    'broker_pass': "",  # _your_mqtt_broker_password_
    'topic_prefix': "/onoffpins",  # _prefix_for_device_mqtt_topics
    'mac': (0xDE, 0xAD, 0xBA, 0xBE, 0xBE, 0xEF),  # mac address for wiznet5k
    }
